/*.js
node_modules
.env
.env copy
src/shared/typeorm/migrations/*.ts
.eslintrc.json
.lintstagedrc.json
.huskyrc.json
docker-compose.yml
Dockerfile
ormconfig.ts
package.json
tsconfig.json
yarn.lock
.dockerignore
.gitignore